.header-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    list-style: none;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__link {
        padding: 15px 20px;
        color: var(--secondary-2);
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: var(--secondary);
        }

        &.current {
            background-color: var(--secondary);
        }
    }
}
