.select {
    height: 40px;
    border: 1px solid var(--secondary);
    outline-color: var(--primary);
    outline-width: 1px;
    appearance: none;
    padding: 5px 15px;
    padding-right: 30px;
    color: var(--secondary-3);

    &-wrapper {
        position: relative;

        &::before {
            content: "";
            width: 8px;
            height: 1px;
            background-color: var(--secondary-3);
            position: absolute;
            top: 50%;
            right: 16px;
            transform: translate(0, -50%) rotate(35deg);
        }

        &::after {
            content: "";
            width: 8px;
            height: 1px;
            background-color: var(--secondary-3);
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translate(0, -50%) rotate(-35deg);
        }
    }
}
