.notification {
    padding: 15px;
    border: 1px solid var(--primary);
    width: calc(100% - 30px);
    margin: 0 auto;
    margin-top: 15px;
    color: var(--secondary-2);
    position: relative;

    &__close {
        @include close-button(100%, 1px);

        position: absolute;
        top: 7px;
        right: 7px;
        width: 15px;
        height: 15px;
        color: transparent;
    }

    &.danger {
        border-color: var(--error);
        color: var(--error);

        .notification__close {
            &::before,
            &::after {
                background-color: var(--error);
            }
        }
    }
}
