:root {
    --primary: #33CCCC;

    --primary-darken-5: #{darken(#33CCCC, 5%)};

    --secondary: #ddd;
    --secondary-2: #333;
    --secondary-3: #777;

    --secondary-lighten-5: #{lighten(#ddd, 5%)};
    --error: #f00e0e;
}
