.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 35px;
    color: var(--primary);
    padding: 0 15px;
    font-weight: 500;
}
