.users {
    &__item {
        @extend .tasks__item;

        &-header {
            @extend .tasks__item-header;
        }

        &-name {
            @extend .tasks__item-name;

            position: relative;

            &::after {
                content: "";
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: var(--primary);
                display: inline-block;
                margin-left: 5px;
            }

            &:hover {
                color: inherit;
            }

            &-icon {
                @extend .tasks__item-name-icon;
            }

            &.banned {
                &::after {
                    background-color: var(--error);
                }
            }
        }

        &-delete {
            @extend .tasks__item-delete;
        }

        &-actions {
            @extend .tasks__item-actions;
        }

        &-action {
            @extend .tasks__item-action;

            &-icon {
                @extend .tasks__item-action-icon;
            }
        }
    }
}
