.textarea {
    @extend .input-text;

    &__input {
        @extend .input-text__input;

        resize: vertical;
        min-height: 150px;
        max-height: 300px;
    }

    &__error {
        @extend .input-text__error;
    }
}
