@mixin close-button($crossWidth: 100%, $crossHeight: 1px) {
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    outline: none;

    &::before,
    &::after {
        content: "";
        width: $crossWidth;
        height: $crossHeight;
        background-color: var(--secondary-3);
        position: absolute;
        top: 50%;
        left: 50%;
        transition: background-color 0.3s ease;
    }

    &::before {
        transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            background-color: var(--primary);
        }
    }
}
