.tasks {
    &__search {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-grow: 1;

        &-submit {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            &-icon {
                fill: var(--secondary-3);
                transition: fill 0.3s ease;
            }

            &:hover {
                .tasks__search {
                    &-submit-icon {
                        fill: #fff;
                    }
                }
            }
        }

        .input-text {
            margin-bottom: 0;

            &__input {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        .select {
            border-left: none;
        }
    }
}
